.header__logo {
    width: 104px;
    height: 24px;
    margin-left: 27px;
}

@media screen and (min-width:768px) {
    .header__logo {
        width: 142px;
        height: 33px;
        margin-left: 0;
    }
}