.profile__name {
    color: #FFFFFF;
    font-size: 27px;
    line-height: 33px;
    font-family: 'Inter', Arial, sans-serif;
    font-weight: 500;
    font-style: normal;
    margin: 0;
    padding: 0;
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    box-sizing: border-box;
    white-space: nowrap;
    vertical-align: baseline;
}

@media screen and (min-width:768px) {
    .profile__name {
        font-size: 42px;
        line-height: 1;
        max-width: 294px;
    }
}