.profile__container {
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin-bottom: 14px;
    box-sizing: border-box;
    padding-left: 25px;
}

@media screen and (min-width:768px) {
    .profile__container {
        margin-bottom: 16px;
        padding-left: 0;
    }
}