.profile__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 300px;
    margin: 22px auto 36px;
}

@media screen and (min-width:768px) {
    .profile__info {
        margin: 0;
        flex-direction: row;
        min-width: 336px;
        justify-content: flex-start;
        margin-left: 30px;
    }
}
