.popup__input {
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    border: 0;
    border-bottom: 1px solid #000000;
    width: 238px;
    min-height: 27px;
    overflow: hidden;
    white-space: no-wrap;
    text-overflow: ellipsis;
    box-sizing: border-box;
    padding: 0;
    
}

.popup__input:first-of-type {
    margin-bottom: 30px;
}

@media screen and (min-width:768px) {
    .popup__input {
        width: 358px;
    }
}