.header {
    height: 56px;
    padding-top: 28px;
    border-bottom: 1px solid rgba(84, 84, 84, 0.7);
    max-width: 880px;
    margin: 0 auto;
}

@media screen and (min-width:768px) {
    .header {
        height: 74px;
        padding-top: 45px;
    }
}