.element__description {
    background-color: white;
    padding: 0;
    margin: 0;
    padding-left: 21px;
    padding-right: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: 70px;
}