.profile__info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; 
    padding: 26px auto 36px;
    max-width: 300px;
    margin-top: 22px;
}

@media screen and (min-width:768px) {
    .profile__info {
        padding-left: 0;
        min-width: 336px;
        margin-top: 0;
        margin-left: -200px;
        justify-content: flex-start;
    }
}