.element__like-button {
    background-image: url('../../../images/like-button.svg');
    background-color: transparent;
    object-fit: contain;
    background-repeat: no-repeat;
    width: 22px;
    height: 19px;
    margin-bottom: 3px;
    padding: 0;
    border: 0;
    cursor: pointer;
}

.element__like-button:hover {
    opacity: .5;
    transition: .3s;
}